body {
  font-family: sans-serif;
}

h1 {
  color: #0f4e27;
  font-family: sans-serif;
}

.second-li {
  color: green;
}

code {
  font-family: monospace;
  color: red;
}

li {
  font-family: inherit;
}

li + li {
  background-color: black;
  color: white;
}

ol li {
  background-color: black;
  color: white;
}